Cerberus==1.3.8
contourpy==1.3.3
cycler==0.12.1
dill==0.4.1
fonttools==4.62.1
kiwisolver==1.5.0
matplotlib==3.10.8
ml_dtypes==0.5.4
mpmath==1.3.0
multiprocessing_on_dill==3.5.0a4
networkx==3.6.1
nsga-2 @ git+https://github.com/baopng/NSGA-II.git@6129cf7f3d0a0b1f31ff1cd9cfcfe0583bfcc6ad
numpy==2.4.4
onnx==1.21.0
packaging==26.1
pandas==3.0.2
pillow==12.2.0
protobuf==7.34.1
pyparsing==3.3.2
pymoo==0.6.1.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
seaborn==0.13.2
six==1.17.0
sympy==1.14.0
tqdm==4.67.3
typeguard==4.5.1
typing_extensions==4.15.0
zigzag-dse==3.8.5
